<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="adminsearhcostPanel">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8"/>
<title>Admin Serach Cost</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<meta name="MobileOptimized" content="320">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css"/>
<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/uniform.default.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-fileinput.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/select2.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/datepicker.css"/>

<link rel="stylesheet" type="text/css" href="assets/css/daterangepicker-bs3.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/datetimepicker.css"/>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-markdown.min.css">

<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>

<link href="assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/portfolio.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-switch.min.css"/>



 <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="assets/js/pagination.js"></script>
   <link rel="stylesheet" href="assets/css/pagination.css" />



<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.html"/>


    <!-- Anjular js code initialize-->
    <script src="../assets/js/angular.js">
    </script><!-- load angular -->
    <script src="../public/javascripts/admin-search-costCore.js"></script>
    <link href="../public/stylesheets/Customize.css" rel="stylesheet" />



</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed" ng-controller="adminsearhcostController">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
            <a href="#">
                <img src="assets/img/logo.png" alt="logo"/>
            </a>
        </div>
        <form class="search-form search-form-header" role="form" action="">
            <div class="input-icon right">
               <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" class="form-control input-sm" name="query" placeholder="Search...">
            </div>
        </form>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<img src="assets/img/menu-toggler.png" alt=""/>
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav navbar-nav pull-right">
	
            
			<!-- END TODO DROPDOWN -->
			<li class="devider">
				 &nbsp;
			</li>
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
				<img alt="" src="assets/img/avatar3_small.jpg"/>
				<span class="username username-hide-on-mobile">Nick </span>
				<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu">
					
					<li>
						<a href="login.html"><i class="fa fa-key"></i> Log Out</a>
					</li>
				</ul>
			</li>
			
		</ul>
	
	</div>
	
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div ng-include="'layoutSideMenu'"></div>
    <!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
                    
					<li>
						<a href="admin-search-cost.html">Admin Serach Cost</a>
						
					</li>
				</ul>
				
			</div>

			<div class="row">
				<div class="col-md-12">
                    <form action="#" class="form-horizontal form-bordered">
								<div class="form-body">
									
									<div class="form-group nobordergroup">
                                    <div class="col-md-4">
										<label class="control-label  pull-left">Join Date</label>
                                        </div>
                                        
									<div class="col-md-6">
											<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
												<input type="text" class="form-control" name="from">
												<span class="input-group-addon">
												to </span>
												<input type="text" class="form-control" name="to">
											</div>
										
											
										</div>
                                    
                                    
                                    </div>
                                    
                                    <p class="gap"></p>
                                    
                                    <div class="form-group nobordergroup">
                                    
                                    <div class="col-md-4">
									
										<label class="control-label  pull-left" >User Name</label>
                                        </div>
                                        
                                     <div class="col-md-6">
                                        
										<input class="form-control" id="exampleInputEmail1" placeholder="Enter Email Address" type="email">
										
									</div>
                                    
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                  
                                    
                                      <p class="gap"></p>
                                    
                                    <div class="form-group nobordergroup">
                                     <div class="col-md-4">
										<label class="control-label  pull-left" > join date </label>
                                        </div>
                                    <div class="col-md-6">
                                        
										<input class="form-control" id="exampleInputEmail1" placeholder="Enter Name" type="name">
										
									</div>   
									</div>
                                    <p class="gap"></p>
                                    
                                    <div class="col-md-4">
                                    
									</div>
                                    
                                    <div class="col-md-6">
                                    <a href="#" class="btn btn-success">Start Search <i class="fa fa-search" aria-hidden="true"></i></a>
									</div>
								</div>
							</form>
                    
					
					<!-- END PORTLET-->
				</div>
			</div>
            
              <div class="table-scrollable">
          
					
						<table class="table table-striped table-bordered table-hover" id="sample_2">
							<thead>
							<tr>
								<th class="table-checkbox">
									<!--<input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"/>-->
                                    
                                    Select
								</th>
                                
								<th>
									 User Name
								</th>
                                
								<th>
									Email
								</th>
                                
								<th>
									City
								</th>
                                
								<th >
									Country
								</th>
                           
                                <th class="detail">
									Photo
								</th>
                                
								<th>
									Verified User
								</th>
                                
								<th>
									Joined Date
								</th>
                                
								<th >
									Numbers of Bid Created
								</th>
                                
                                 <th>
									Number of Bid Closed
								</th>
                                
								<th>
									Number of Bid Pending
								</th>
                                
								<th>
									Number of Bid Expired 
								</th>
                                
								<th >
									Number of New bids
								</th>
                             
                                 <th>
									Membership Type
								</th>
                                
								<th>
									Membership Start Date
								</th>
                                
								<th>
									Membership End Date
								</th>
                                
								<th >
									Membership Status
								</th>
                              
                               <th>
									AddOn 1
								</th>
                                
								<th >
									Mobile Number
								</th>
                                
                                
                                
                                
                                
								
							</tr>
                            
							</thead>
                            
                            
							<tbody>
							<tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
                            <tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
                            <tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
                            <tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
                            <tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
                            <tr class="odd gradeX">
								<td>
									<input type="checkbox" class="checkboxes" value="1"/>
								</td>
								<td>
									Lorem Ipsum
								</td>
								<td>
									Loremipsim@gmail.com
								</td>
								<td>
									Sydney
								</td>
								<td class="center">
									Australia
								</td>
                                
                                <td class="detail">
									<a href="#"><img src="assets/img/avatar1.jpg"></a>
								</td>
                                
								<td>
									<div class="form-group">
										
										<div class="col-md-9">
											<input type="checkbox" class="make-switch" checked data-on-color="primary" data-off-color="info">
											
											
										</div>
									</div>		
                                    
                               </td>
                                                                    
								<td>
									27-12-2016 
								</td>
								<td>
									68
								</td>
								<td class="center">
									 35
								</td>
                                
                                <td>
									16
								</td>
                                
								<td>
									22
								</td>
                                
								<td class="center">
                               66
								</td>
                                
                                <td class="center">
                               Lorem Ipsum
									
								</td>
                                
                                <td class="center">
                               27-12-2016 
									
								</td>
								
								<td class="center">
                               27-12-2016 
									
								</td>
                                
                                <td>
								Lorem Ipsum
								</td>
                                
								<td>
									Lorem Ipsum
								</td>
                                
								<td class="center">
                                91+1234 045668
									
								</td>
                                
                                
							</tr>
                            
						
							</tbody>
                            
                            
                            
							</table>
                            
                            <div id="pagination-1" class="newpagination secpagination"></div>
                              

 
    <script>
    function pageClick1(pageNumber) {
        $("#page-number-1").text(pageNumber);
    }

   
    $(document).ready(function () {
        var itemsCount = 300;
        var itemsOnPage = 10;

        var pagination1 = new Pagination({
            container: $("#pagination-1"),
            pageClickCallback: pageClick1
        });
        pagination1.make(itemsCount, itemsOnPage);

        var pagination2 = new Pagination({
            container: $("#pagination-2"),
            pageClickCallback: pageClick2,
            maxVisibleElements: 9,
            showInput: true,
            inputTitle: "Go to page"
        });
       
        paginationAll.make(itemsCount, itemsOnPage);

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

       
    });
</script>
						
					
					<!-- END EXAMPLE TABLE PORTLET-->
			
            
            </div>
            
           
			
	</div>
    </div>
	</div>

<div class="footer">
	<div class="footer-inner">
		
2016 © Townhouse.

	</div>
	<div class="footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>




<script src="assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="assets/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<script src="assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="assets/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.uniform.min.js" type="text/javascript"></script>

<script type="text/javascript" src="assets/js/spinner.min.js"></script>
<script type="text/javascript" src="assets/js/ckeditor.js"></script>

<script type="text/javascript" src="assets/js/bootstrap-fileinput.js"></script>
<script type="text/javascript" src="assets/js/select2.min.js"></script>

<script type="text/javascript" src="assets/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-wysihtml5.js"></script>

<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="assets/js/moment.min.js"></script>
<script type="text/javascript" src="assets/js/daterangepicker.js"></script>

<script type="text/javascript" src="assets/js/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.input-ip-address-control-1.0.min.js"></script>

<script src="assets/js/pwstrength-bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/jquery.multi-select.js"></script>
<script ssrc="assets/js/jquery.tagsinput.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-markdown.js" type="text/javascript"></script>

<script src="assets/js/markdown.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-maxlength.min.js" type="text/javascript"></script>

<script src="assets/js/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="assets/js/handlebars.min.js" type="text/javascript"></script>



<script src="assets/js/app.js"></script>
<script src="assets/js/form-components.js"></script>

<script>
jQuery(document).ready(function() {       
    App.init();
   FormComponents.init();
});
</script>











</body>


</html>